{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- Bootstrap core CSS -->
<link href="/assets/css/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Add font for social media icons -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      type="text/css">
<link rel="stylesheet" href="/assets/css/academicons-1.9.2/css/academicons.min.css"/>

<!-- Custom styles for this template -->
<!--    <link href="cover.css" rel="stylesheet">-->
<link href="/assets/css/bootstrap-solarized-dark.css" rel="stylesheet">

<!--Custom styles-->
<link href="/assets/css/custom.css" rel="stylesheet">
