<hr>

<footer>
  <div class="pull-left">
    <p>I've <a href="https://www.givingwhatwecan.org/pledge">pledged to give</a>
      10% of income to <a href="https://www.givingwhatwecan.org/giving-recommendations">effective charities</a>
      and invite you to <a href="https://www.givingwhatwecan.org">join me</a>.</p>
  </div>
  <div class="pull-right">
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.custom.name }}</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/assets/css/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CD78TT8HKC"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CD78TT8HKC', { 'anonymize_ip': false});
</script>
