a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.label {
    margin-bottom: 0.5em;
    display: inline-block;
}

hr {
    margin-bottom: 10px;
}

.logo {
    float: left;
    height: 50px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
    font-size: 12pt;
}

h4 {
    font-size: 15pt;
}

.cards {
    border: solid;
    border-color: #839496;
    border-width: 0.2em;
    margin: 0.2em;
    margin-bottom: 0.5em;
}

.card-title {
    color: white;
    padding: 0.2em;
    text-align: center;
}

.col1 {
    background-color: #2aa198;
}

.col2 {
    background-color: #268bd2;
}

.col3 {
    background-color: #859900;
}

.col4 {
    background-color: #d08d2e;
}

.big-button {
    font-size: 20px;
    white-space: wrap;
    margin-top: 2em;
}

.vertical-align {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.card-image {
    text-align: center;
    padding: 15px;
    margin: auto;
}

.card-main {
    text-align: left;
}

.card-image img {
    max-width: 10em;
    width: 90%;
}