<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="container" style="padding-top: 50px">
      <div class="row">

        {%- include sidebar.html -%}

        <div class="col-md-9">
          <div class="row">
            <main class="page-content" aria-label="Content">
              <div class="wrapper">
                {{ content }}
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
