---
layout: base
---

<div class="home">

  {{ content }}

  {% if site.custom.list_publications %}
    <h1 id="publications">Publications</h1>

    {% for pub in site.data.publications %}
      <div class="row">
        <div class="col-md-2">
          <h4>
            <span class="label label-primary">{{ pub.venue }}</span>
            {% if pub.highlight %}
              <span class="label label-success">{{ pub.highlight }}</span>
            {% endif %}
          </h4>
        </div>
        <div class="col-md-7">
          <h4 class="papertitle">{{ pub.title }}</h4>
          <p>{{ pub.authors }}</p>
          {% if pub.bibtex %}
            <pre class="bibtex" style="display:none"><code>{{ pub.bibtex }}</code></pre>
          {% endif %}
        </div>
        <div class="col-md-3">
          <h4>
            {% if pub.arxiv %}
              <a href="{{ pub.arxiv }}" class="label label-info">arXiv</a>
            {% endif %}
            {% if pub.official_name %}
              <a href="{{ pub.official_url }}"
                class="label label-primary">{{ pub.official_name }}</a>
            {% endif %}
            {% if pub.talk %}
              <a href="{{ pub.talk }}"
                class="label label-success">talk</a>
            {% endif %}
            {% if pub.code %}
              <a href="{{ pub.code }}"
                class="label label-warning">code</a>
            {% endif %}
            {% if pub.demo %}
              <a href="{{ pub.demo }}"
                class="label label-danger">demo</a>
            {% endif %}
            {% if pub.bibtex %}
              <button class="label label-default" onclick="bibtex_click(event.target)">bibtex</button>
            {% endif %}
          </h4>
        </div>
        <hr style="width: 100%;"/>
      </div>
    {% endfor %}
  {% endif %}

  <!-- Javascript to operate buttons -->
  <script src="/assets/js/buttons.js"></script>

  <!-- Code for including a list of blog posts. May come back to this.
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%} -->

</div>
